@font-face {
    font-family: 'DSG Sans Bold';
    src: url('../fonts/DSGSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DSGSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/DSGSans-Bold.woff') format('woff'), /* Modern Browsers */ url('../fonts/DSGSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/DSGSans-Bold.svg#35915912463a18b3fda06bb3b38bb993') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}


