{
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "istanbul",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-syntax-optional-chaining",
    ["@babel/plugin-transform-react-jsx", {
      "runtime": "automatic"
    }]
  ]
}

